<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorator="/admin/layout">
<head>
<meta charset="UTF-8">
<title>User</title>
</head>
<body>

<div layout:fragment="content">

 <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        User
        <small>Control panel</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">User</li>
      </ol>
    </section>
    
    
    <section class="content">
    
	    <div class="row col-md-12">
	    		<div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">Quick Example</h3>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            <form role="form" th:action="@{/admin/user-c}" th:object="${user}" method="GET">
              <div class="box-body">
                <div class="form-group">
                  <label th:text="#{user.id}"> </label>
                  <input type="text" th:field="*{id}" class="form-control">
                </div>
                <div class="form-group">
                  <label th:text="#{user.username}">Username</label>
                  <input type="text" th:field="*{username}" class="form-control">
                </div>
                <div class="form-group">
                  <label th:text="#{user.email}"></label>
                  <input type="email" th:field="*{email}" class="form-control">
                </div>
                <div class="form-group">
                  <label th:text="#{user.password}"></label>
                  <input type="password" th:field="*{password}" class="form-control">
                </div>
                <div class="form-group">
                  <label th:text="#{user.gender}"></label>
                  <select th:field="*{gender}">
                  		<option value="M">Male</option>
                  		<option value="F">Female</option>
                  </select>
                </div>
              </div>
              <!-- /.box-body -->

              <div class="box-footer">
                <button type="submit" class="btn btn-primary">Submit</button>
              </div>
            </form>
          </div>
	    	
	    </div>
    </section>
    
    
    </div>
</div>

</body>
</html>