<!-- Left side column. contains the logo and sidebar -->
  <aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
      <!-- Sidebar user panel -->
      <div class="user-panel">
        <div class="pull-left image">
          <img th:src="@{/resources/admin/dist\img\user2-160x160.jpg}" class="img-circle" alt="User Image">
        </div>
        <div class="pull-left info">
          <p>Alexander Pierce</p>
          <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
        </div>
      </div>
      <!-- search form -->
      <form action="#" method="get" class="sidebar-form">
        <div class="input-group">
          <input type="text" name="q" class="form-control" placeholder="Search...">
              <span class="input-group-btn">
                <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
                </button>
              </span>
        </div>
      </form>
      <!-- /.search form -->
      <!-- sidebar menu: : style can be found in sidebar.less -->
      <ul class="sidebar-menu">
        <li class="header">MAIN NAVIGATION</li>
       	<li class="active"><a th:href="@{/admin/dashboard}"><i class="fa fa-circle-o text-red"></i> <span>Dashboard</span></a></li>
        
        
        <li>
          <a th:href="@{/admin/category}">
            <i class="fa fa-user"></i> <span>Articles</span>
          </a>
        </li>
        
        <li>
          <a th:href="@{/admin/user}">
            <i class="fa fa-user"></i> <span>Users</span>
          </a>
        </li>
        
        
        
        <li>
          <a th:href="@{/admin/category}">
            <i class="fa fa-user"></i> <span>Categories</span>
          </a>
        </li>
        
         <!-- <li class="treeview">
          <a href="#">
            <i class="fa fa-user"></i> <span>User</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a th:href="@{/admin/user}"><i class="fa fa-circle-o"></i> List User</a></li>
            <li><a th:href="@{/admin/user-cu}"><i class="fa fa-circle-o"></i> Add User</a></li>          	
          </ul>
        </li> -->
        
        
        
        <!-- <li class="treeview">
          <a href="#">
            <i class="fa fa-user"></i> <span>Category</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a th:href="@{/admin/category}"><i class="fa fa-circle-o"></i> List Category</a></li>
            <li><a th:href="@{/admin/category-cu}"><i class="fa fa-circle-o"></i> Add Category</a></li>          	
          </ul>
        </li>  -->
        
        
        
       </ul>
    </section>
    <!-- /.sidebar -->
  </aside>