

<!-- jQuery 3 -->
<script th:src="@{/resources/admin/bower_components/jquery/dist/jquery.min.js}"></script>
<!-- jQuery UI 1.11.4 -->
<script th:src="@{/resources/admin/bower_components/jquery-ui/jquery-ui.min.js}"></script>
<!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
<script>
  $.widget.bridge('uibutton', $.ui.button);
</script>
<!-- Bootstrap 3.3.7 -->
<script th:src="@{/resources/admin/bower_components/bootstrap/dist/js/bootstrap.min.js}"></script>
<!-- Morris.js charts -->
<script th:src="@{/resources/admin/bower_components/raphael/raphael.min.js}"></script>
<script th:src="@{/resources/admin/bower_components/morris.js/morris.min.js}"></script>
<!-- Sparkline -->
<script sth:src="@{/resources/admin/bower_components/jquery-sparkline/dist/jquery.sparkline.min.js}"></script>
<!-- jvectormap -->
<script th:src="@{/resources/admin/plugins/jvectormap/jquery-jvectormap-1.2.2.min.js}"></script>
<script th:src="@{/resources/admin/plugins/jvectormap/jquery-jvectormap-world-mill-en.js}"></script>
<!-- jQuery Knob Chart -->
<script th:src="@{/resources/admin/bower_components/jquery-knob/dist/jquery.knob.min.js}"></script>
<!-- daterangepicker -->
<script th:src="@{/resources/admin/bower_components/moment/min/moment.min.js}"></script>
<script th:src="@{/resources/admin/bower_components/bootstrap-daterangepicker/daterangepicker.js}"></script>
<!-- datepicker -->
<script th:src="@{/resources/admin/bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js}"></script>
<!-- Bootstrap WYSIHTML5 -->
<script th:src="@{/resources/admin/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js}"></script>
<!-- Slimscroll -->
<script th:src="@{/resources/admin/bower_components/jquery-slimscroll/jquery.slimscroll.min.js}"></script>
<!-- FastClick -->
<script th:src="@{/resources/admin/bower_components/fastclick/lib/fastclick.js}"></script>
<!-- AdminLTE App -->
<script th:src="@{/resources/admin/dist/js/adminlte.min.js}"></script>
<!-- AdminLTE dashboard demo (This is only for demo purposes) -->
<script th:src="@{/resources/admin/dist/js/pages/dashboard.js}"></script>
<!-- AdminLTE for demo purposes -->
<script th:src="@{/resources/admin/dist/js/demo.js}"></script>


<!-- Sweet Alert -->
<script th:src="@{/resources/sweet_alert/sweetalert-dev.js}"></script>
<script th:src="@{/resources/sweet_alert/sweetalert.min.js}"></script>
<!-- /End Sweet Alert -->



<!-- <script src="https://code.jquery.com/jquery-3.2.1.js}"></script> -->

<!-- <!-- jQuery library --> 
<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script> -->

<!-- <!-- Latest compiled JavaScript --> 
<!-- <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> -->
